# Serveur
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Base de données
MONGO_URI=mongodb://127.0.0.1:27017/complaint_system

# Authentification
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=7d

# Email (notifications) - ex. SMTP Gmail / Mailtrap / SendGrid
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
EMAIL_FROM="Service des Plaintes <no-reply@services-publics.gouv>"

# SMS (ex. Twilio) - à activer dans utils/notify.js
SMS_PROVIDER_SID=your_twilio_sid
SMS_PROVIDER_AUTH_TOKEN=your_twilio_token
SMS_FROM_NUMBER=+10000000000
